<h1>NW 172 Desk Booking</h1>
<table class="table-bordered" style="position: relative; float: left; height: 600px;">
    <tr><td colspan="3">
        <input type="text" id="name_input" name="name">
    </td><td colspan="3">
            <input type="hidden" id="start_date" value="{{startDate}}">
            <input id="week" type="week" class="form-control" value="{{year}}-W{{week}}">
    </td></tr>
    <tr>
        <th>Desk</th>
        <th>Mon ({{days.[0]}})</th>
        <th>Tue ({{days.[1]}})</th>
        <th>Wed ({{days.[2]}})</th>
        <th>Thu ({{days.[3]}})</th>
        <th>Fri ({{days.[4]}})</th>
    </tr>
    {{#each bookings}}
    <tr>
        <td>{{@index}}</td>
        {{#each this}}
        <td>
            {{#if this}}
            <input type="checkbox" class="btn-check reserve" id="{{@../index}}_{{@index}}" value="{{@../index}}_{{@index}}" checked/>
            <label class="btn btn-outline-primary" for="{{@../index}}_{{@index}}">{{this}}</label> 
            {{else}}
            <input type="checkbox" class="btn-check reserve" id="{{@../index}}_{{@index}}" value="{{@../index}}_{{@index}}" />
            <label class="btn btn-outline-primary" for="{{@../index}}_{{@index}}">Available</label>
            {{/if}}
        </td>
        {{/each}}
    {{/each}}
</table>
<img src="/public/images/desks.png" style="position: relative; float: left; height: 600px;">